.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  display: flex;
  height: 80%;
}

.description {
  text-align: center;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 15px 0px;
}

.confirm-button {
  border: 0;
  border-radius: 5px;
  width: 160px;
  height: 40px;
  background-color: #00FF00;
  font-weight: bold;
  font-size: 14px;
}

.confirm-button:hover {
  background-color: #02b102;
  cursor: pointer;
}

.cancel-button {
  border: 0;
  border-radius: 5px;
  width: 160px;
  height: 40px;
  background-color: #ff0000;
  font-weight: bold;
  font-size: 14px;
}

.cancel-button:hover {
  background-color: #b10202;
  cursor: pointer;
}

@media (max-width: 420px) {
  h2 {
    text-align: center;
  }
  
  .options {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .confirm-button {
    margin-bottom: 10px;
  }
}