.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
  color: #fff;
  padding: 0px 15px;
}

.help-button {
  font-weight: bold;
}

.help-button:hover {
  cursor: pointer;
  color: #bebebe;
}